/*Secci´ón Gral. - Content*/

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 65%;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

h1 {
    font-size: 4em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px black;
    color: white;
}

/*Login & Register*/

#register .content,
#login .content {
    height: 95vh;
    width: 100%;
    align-items: center;
}

#register .content-header,
#login .content-header {
    justify-content: center;
}

#register .content-principal-container,
#login .content-principal-container {
    width: 60%;
}

#register section,
#login section {
    width: auto;
}

#register .content-principal,
#login .content-principal {
    height: 100%;
}

#register .content-principal,
#login .content-principal {
    width: 30rem;
}

#register form,
#login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}

#register .form-validate {
    justify-content: flex-start;
    padding-top: 3rem;
    height: 100%;
}

.container-input-validate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.container-input-validate button {
    font-family: 'Poppins';
    border: none;
    box-shadow: 0 0 0 2px black, 6px 6px 0 black;
    border-radius: 5px;
    height: 3rem;
    padding: 0 0.5rem;
    font-size: 1.1em;
    outline: 0 none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #62B5FA;
}

#login form {
    height: auto;
    justify-content: flex-start;
}

#configuration .form-send-code-validation {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.generate-flashcards-container form,
.generate-resume-container form,
.generate-mental-map-container form {
    height: 100%;
    max-width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    width: 100%;
}

#register form label,
#login form label,
.configuration-container-form label {
    width: 100%;
    font-size: 1.15em;
    font-weight: 600;
}

#register form input,
#login form input {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#configuration .form-send-code-validation input {
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

#register form input,
#login form input,
#configuration .form-send-code-validation input,
.theme input {
    font-family: 'Poppins';
    border: none;
    box-shadow: 0 0 0 2px black, 6px 6px 0 black;
    border-radius: 5px;
    color: black;
    height: 3rem;
    padding: 0 0.5rem;
    font-size: 1.1em;
    outline: 0 none;
}

/*Form Errors*/

#register form .error,
#login form .error,
#configuration form .error {
    box-shadow: 0 0 0 2px red, 6px 6px 0 red;
    margin-bottom: 0.5rem;
}

#register form .container-error,
#login form .container-error,
#configuration form .container-error {
    color: red;
    width: 100%;
    justify-content: flex-start;
}

#register form #submit,
#login form #submit {
    margin: 1.5rem 0 0 0;
    background-color: #AC9BCE;
    color: white;
    cursor: pointer;
}

#login form #submit {
    margin: 1.5rem 0;
}

#configuration .container-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}

#configuration .info-pay {
    background-color: #62B5FA;
}

#configuration .logout {
    background-color: #FA7D62;
}

#configuration .form-send-code-validation .change {
    background-color: #62B5FA;
    color: white;
}

.opc-fotgotten-password,
.opc-log-in,
.status {
    font-style: italic;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}

.opc-fotgotten-password,
.opc-log-in {
    color: #565656;
}

.opc-log-in {
    white-space: nowrap;
}

.status {
    color: black;
    margin: 1.25rem 2.5rem;
}

.opc-fotgotten-password {
    width: 100%;
}

/*Login*/

/*.night-mode {
    height: 3.125rem;
    width: 3.125rem;
    background-color: black;
    border-radius: 8px;
}*/

/*Modal*/

.modal {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-modal {
    z-index: 99;
    width: 35%;
    padding: 1.5rem 0;
    border: none;
    box-shadow: 0 0 0 2px black, 6px 6px 0 black;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 1rem;
}

.form-modal label {
    font-family: 'Poppins';
    font-size: 1.35em;
    font-weight: 600;
}

.modal-input,
.btn-modal,
.modal-textarea {
    font-family: 'Poppins';
    font-size: 1.1em;
    border: none;
    box-shadow: 0 0 0 2px black, 6px 6px 0 black;
    border-radius: 5px;
    color: black;
    outline: 0 none;
    padding: 0.25rem;
}

.modal-input,
.modal-textarea {
    width: 70%;
}

.modal-textarea {
    height: 8rem;
    resize: none;
}

.btn-modal {
    min-width: 30%;
    color: white;
    background-color: #62B5FA;
}

.content-principal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 85%;
}

.content-principal {
    box-shadow: 0 0 0 2px black, 10px 10px 0 black;
    border-radius: 5px;
    background-color: white;
    height: 88%;
    width: 90%;
    margin: 0 auto;
}

.content-principal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 2px 0 black;
    height: calc(20% - 2px);
    margin-bottom: 2px;
}

#register .content-principal-header {
    height: calc(15% - 2px);
}

.circle-and-title {
    display: flex;
    align-items: center;
    width: 80%;
}

.circle-and-title h4 {
    font-size: 1.875rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    white-space: nowrap;
}

.circle {
    height: 2.2rem;
    width: 2.2rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 0.625rem;
}

/*Flashcards*/

.select-type-carpet,
.select-grid-columns,
.select-generate {
    outline: none;
    width: 25%;
    box-shadow: 0 0 0 2px black, 6px 6px 0 black;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 1.1em;
    padding: 0.25rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-type-carpet,
.select-grid-columns {
    margin-right: 2.5rem;
}

.select-grid-columns {
    width: 12.5%;
}

.categories-container,
.carpet-container,
.generate-container,
.make-resume-container,
.configuration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.register-container,
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
    padding-top: 2rem;
}

#configuration .configuration-container-forms {
    width: 55%;
    height: 100%;
}

.register-container {
    height: 85%;
}

#generate .generate-container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2.5rem 0 2.5rem;
    width: 100%;
    overflow: hidden;
}

#configuration .configuration-container {
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
    overflow-y: scroll;
    padding: 2.5rem 0 0 2.5rem;
}

.carpet,
.categories {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 85%;
}

.container-mental-map {
    display: flex;
    justify-content: flex-start;
}

.grid-columns-default {
    grid-template-columns: repeat(auto-fill, 16rem);
}

.grid-columns-1 {
    grid-template-columns: 50%;
}

.grid-columns-2 {
    grid-template-columns: 40% 40%;
}

.grid-columns-3 {
    grid-template-columns: 33% 33% 33%;
}

.grid-columns-4 {
    grid-template-columns: 25% 25% 25% 25%;
}

.categories {
    grid-template-columns: repeat(auto-fill, 12rem);
}

.category-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.msg-error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*Scroll*/

.carpet::-webkit-scrollbar,
.categories::-webkit-scrollbar,
.generate-flashcards::-webkit-scrollbar,
.generate-resume::-webkit-scrollbar,
#configuration .configuration-container::-webkit-scrollbar,
.info::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.carpet::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb,
.generate-flashcards::-webkit-scrollbar-thumb,
.generate-resume::-webkit-scrollbar-thumb,
#configuration .configuration-container::-webkit-scrollbar-thumb,
.info::-webkit-scrollbar-thumb {
    background-color: #62B5FA;
    border-radius: 24px;
    box-shadow: inset 0 0 0 2px black;
}

.carpet::-webkit-scrollbar-track,
.categories::-webkit-scrollbar-track,
#configuration .configuration-container::-webkit-scrollbar-track,
.generate-flashcards::-webkit-scrollbar-track,
.generate-resume::-webkit-scrollbar-track {
    margin: 25px 50px;
}

/**/

.category {
    position: relative;
    margin: 1.3rem;
    background-color: #62B5FA;
    width: 8rem;
    min-height: 10rem;
    box-shadow: 0 0 0 2px black, 8px 8px 0 0 white, 8px 8px 0 2px black;
    color: white;
}

.category-link {
    color: white;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0%;
    padding: 0;
}

/*Sección Generate*/

.theme {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}

.theme p {
    font-size: 1.4em;
}

.theme input {
    width: 20%;
    margin: 0 2rem;
}

.generate-flashcards-container,
.generate-resume-container,
.generate-mental-map-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 2rem;
    overflow-y: hidden;
    margin-top: 1rem;
}

.generate-mental-map-container {
    height: 80%;
    overflow: hidden;
    cursor: grab;
}

.generate-mental-map {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    transform-origin: 0 0;
    overflow: hidden;
}

.generate-flashcards-container select,
.generate-resume-container select,
.generate-mental-map-container select {
    font-family: 'Poppins';
    border: none;
    box-shadow: 0 0 0 2px black, 6px 6px 0 black;
    border-radius: 5px;
    color: black;
    height: 3rem;
    padding: 0 0.5rem;
    font-size: 1.1em;
    outline: 0 none;
}

.generate-flashcards,
.generate-resume {
    display: grid;
    gap: 2rem;
    grid-template-columns: 35% 35%;
    width: 70%;
    height: 100%;
    justify-content: center;
    padding: 2rem 0;
    overflow-y: scroll;
}

.generate-mental-map {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 0;
    overflow-y: scroll;
}

.generate-flashcards {
    grid-template-columns: 35% 35%;
    align-items: flex-start;
}

.generate-resume {
    grid-template-columns: 75%;
    align-items: center;
}

/*Buttons*/

.btn-add {
    font-size: 2.8em;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 2.8rem;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    background-color: transparent;
    border-radius: 4.8px;
}

.btn-upgrade {
    font-size: 1.2em;
    background-color: white;
    height: 7.5%;
    min-width: 9.1rem;
}

.btn-generate {
    font-size: 1.25em;
    background-color: #62B5FA;
    height: 3rem;
    color: white;
    min-width: 20%;
    padding: 0 0.5rem;
}

.btn-save {
    font-size: 1.25em;
    height: 3rem;
    width: 100%;
    background-color: #62B5FA;
    color: white;
    margin-top: 1rem;
    padding: 0 0.5rem;
}

.btn-premium {
    background-color: #B4FFA8;
    color: black;
    font-size: 1em;
    height: 2.5rem;
    padding: 0 0.5rem;
}

#configuration .configuration-container button {
    font-family: 'Poppins';
    border: none;
    color: black;
    box-shadow: 0 0 0 2px black, 6px 6px 0 black;
    border-radius: 5px;
    height: 3rem;
    padding: 0 0.5rem;
    font-size: 1.1em;
    outline: 0 none;
}

#configuration .container-buttons button {
    color: white;
}