.flashcard-container {
    position: relative;
    height: fit-content;
    margin: 1.3rem;
    position: relative;
}

#generate-flashcards .flashcard-container {
    margin: 0;
}

.category-container p,
.flashcard-container p {
    user-select: none;
}

.flashcard {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFFAED;
    min-height: 7rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: initial;
}

#flashcards .flashcard {
    padding: 0;
}

#generate-flashcards .flashcard {
    justify-content: space-between;
    margin: 0;
    white-space: normal;
}

.flashcard-container form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.25rem;
}

.category-container form textarea,
.flashcard-container form textarea {
    overflow: hidden;
    outline: none;
    padding: 0.1rem;
}

.category-container form textarea {
    font-size: 1.4em;
}

.flashcard-container form textarea {
    font-size: 1em;
}

.flashcard-textarea-title,
.category-textarea-title {
    resize: none;
    overflow: hidden;
    width: 100%;
}

.flashcard-textarea-info {
    resize: none;
    width: 100%;
}

.category-container form button,
.flashcard-container form button {
    box-shadow: none;
    border: 1px solid black;
    border-radius: 0;
    background-color: white;
    padding: 0.05rem;
    width: 100%;
}

#flashcards form {
    padding: 0.5rem 1.25rem 0 1.25rem;
}

.category-title,
.flashcard-title,
.info {
    height: auto;
}

.flashcard-title {
    max-width: 70%;
}

.flashcard-title p {
    overflow: hidden;
    text-overflow: ellipsis;
}

#flashcards .flashcard-title p {
    margin: 0.5rem 0 0 1.25rem;
}

.flashcard-info {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flashcard-info p {
    overflow: hidden;
    text-overflow: ellipsis;
}

#flashcards .flashcard-info p {
    margin: 0.5rem 1.25rem 0 1.25rem;
}

.flashcard-theme {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.flashcard-theme p {
    font-size: 0.85em;
    font-style: italic;
}

#flashcards .flashcard-theme p {
    font-size: 0.85em;
    text-align: right;
    font-style: italic;
    margin: 0 1.25rem 0.5rem 0;
}

.info {
    height: auto;
    gap: 0.8rem;
}

.category-title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4em;
}

.menu {
    position: absolute;
    width: 100%;
    background-color: #2271b3;
    color: white;
    font-style: italic;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
}

.menu p {
    text-decoration: underline;
}

/*Buttons*/

.btn-menu {
    cursor: pointer;
    height: 1rem;
    width: 0.8rem;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    left: 0.215rem;
}