.flashcard {
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFAED;
    height: 7rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: initial;
}

.flashcard-container {
    position: relative;
    height: fit-content;
    margin: 1.3rem;
}

#generate-flashcards .flashcard {
    height: 6rem;
    justify-content: center;
    margin: 0;
    white-space: normal;
}

#generate-flashcards .info {
    overflow-y: scroll;
    padding: 0.5rem 0 0.5rem 0.5rem;
    justify-content: flex-start;
}

.flashcard-title,
.flashcard-info {
    height: auto;
    width: 100%;
}

.flashcard-theme {
    font-size: 0.85em;
    text-align: right;
    width: 100%;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 0.15rem;
}

.info {
    height: auto;
}

.flashcard-textarea-title {
    resize: none;
    overflow: hidden;
    width: 100%;
}

.flashcard-textarea-info {
    resize: none;
    width: 100%;
}

.btn-change-flashcard {
    background-color: #62B5FA;
    height: 1rem;
    color: white;
    position: absolute;
    bottom: 0;
}