#categories-loading {
    overflow-y: hidden;
    padding-right: 10px;
}

#category-loading {
    background-color: #cccccc;
    color: #e3e3e3;
    box-shadow: 0 0 0 2px #e3e3e3, 8px 8px 0 0 #cccccc, 8px 8px 0 2px #e3e3e3;
    overflow-y: hidden;
    cursor: default;
}

#category-loading p {
    overflow: hidden;
}

#category-loading .category-title {
    background-color: #e3e3e3;
    border-radius: 24px;
}