#generate-flashcards-loading {
    overflow-y: hidden;
    padding-right: 10px;
}

#generate-flashcards-loading .flashcard {
    background-color: #cccccc;
    color: #e3e3e3;
    box-shadow: 0 0 0 2px #e3e3e3, 6px 6px 0 #e3e3e3;
    cursor: default;
}

#generate-flashcards-loading .flashcard p {
    overflow: hidden;
    background-color: #e3e3e3;
    border-radius: 24px;
}