#form-loading select,
#form-loading button {
    background-color: #cccccc;
    cursor: auto;
    color: #cccccc;
    box-shadow: 0 0 0 2px #e3e3e3, 6px 6px 0 #e3e3e3;
}

#form-loading select:disabled {
    opacity: 1;
}